apiVersion: v1
kind: Service
metadata:
  name: ms-call
  labels:
    app: ms-call
    component: caller
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: ms-call
