apiVersion: v1
kind: Service
metadata:
  name: ms-called
  labels:
    app: ms-called
    component: callee
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: ms-called
